#### Update to last week!

We used classic command line tools for working with text (because text was what early computers worked with). These are installed on everyone's laptop. 

However the command line doesn't just work on text. A couple of examples:

- `ffmpeg` edit video and audio
- `youtube-dlp` download video from websites (not just YouTube)
- `curl` download from the web and query APIs
- `wget` similar to `curl` but more designed to capture websites (eg also get the pages a page links to)
- `jq` (OK this does work with text but often text from APIs)
- hashing tools - check if a file is the same (works with images)

And you can run programming languages on the command line too!

#### Relational databases

Let's imagine we want to create a public library. Our first thought is to do the library catalogue in Excel. We can just list all the books and the location they're in. The first book we buy is *Nietzsche and Music* by Georges Li&eacute;bert.

|Title|Author|Publisher|Location|
|----|----|----|----|
|Nietsche and Music|George Li&eacute;bert|University of Chicago Press|Philosophy, N.|

But maybe we should buy two copies and put one in the Music section:

|Title|Author|Publisher|Location|
|----|----|----|----|
|Nietsche and Music|George Li&eacute;bert|University of Chicago Press|Philosophy, N.|
|Nietsche and Music|George Li&eacute;bert|University of Chicago Press|Music, Composers|

Wait, there's a typo in the title, which needs correcting twice.

And a typo in the author field, which also needs correcting twice.

This violates the *DRY* principle of computing: Don't Repeat Yourself.

Really we just want the author once, the book title once and the publisher once. We can do this with a relational database.

Let's imagine first that we have two tables: a `book` table and a `location` table.

Every row in every table in a relational database has a *primary key*, which is usually an integer.

|Primary Key|Title|Author|Publisher|
|----|----|----|----|
|1|Nietzsche and Music|Georges Li&eacute;bert|University of Chicago Press|

|Primary Key|Foreign Key|Location|
|---|---|---|
|1|1|Philosophy, N.|
|2|1|Music, Composers|

We can keep doing this, in a process known as *normalisation*. We could make an `author` table and a `publisher` table and whatever else we need.

To bring the data back together, for example to display a web page of results to show users searching the catalogue, we can use *SQL*.

#### SQLite

To practise SQL we're going to use a free, single-file database program called SQLite.

If you have a Mac you have it pre-installed because it runs things like iPhoto. If you have Python installed you have another copy because SQLite is included with a Python installation. If you have a smartphone you have another copy there because apps use SQLite. It's the second most downloaded software in the world.

SQLite has two types of commands:
    
- SQL commands which end in a semi-colon and query the database
- dot commands which start with a dot and change the settings

SQL commands are universal. Dot commands are specific to SQLite.

In the sample database, what tables do we have? For this we need a dot command:

`.tables`

(Two other important dot commands:
`.help` to get help
`.q` to quit)

SQL commands to search or view a database table always begin with `SELECT`. To see all the entries in the `books` table:

`SELECT * FROM books;`

This gives us all the columns. If you only want some columns, name them after `SELECT` and they'll come out in the order you specify:

`SELECT author, title FROM books;`

This is giving us *some* columns but still *all* the rows. To filter the rows you can use a `WHERE` clause. For example, to get all the history books in the table:

`SELECT author, title FROM books WHERE subject = "history";`

And we can also order the results; the default is ascending alphabetically:

`SELECT author, title FROM books WHERE subject = "history" ORDER BY title;`

You can refine the `WHERE` clause using Booleans: `AND`, `OR` and `NOT`.

`SELECT author, title FROM books WHERE subject = "history" AND author = "Grafton, Anthony";`

In SQLite you can do a partial match using `LIKE` and `%` as a wildcard:

`SELECT title FROM books WHERE title LIKE "%Rome%";`

Here's a complete list of everything you *could* put into a SQL `SELECT` clause, but you usually won't need most of these:

```
SELECT DISTINCT column, AGG_FUNC(column_or_expression),
  FROM mytable
      JOIN another_table
        ON mytable.column = another_table.column
      WHERE constraint_expression
      GROUP BY column
      HAVING constraint_expression
      ORDER BY column ASC/DESC
      LIMIT count OFFSET COUNT;
```

#### Getting data in

If you have a CSV file with headers you can create the table with a single command. We'll assume that the file `subjects.csv` is in the same directory as the database. A new table will be created called subjects:

`.import subjects.csv subjects --csv`

It's easy to get data out of SQLite. The dot command `.once` and a filename has the effect that the next query gets written to a file and not to screen.

`.mode csv`

`.once history.csv`

`SELECT author, title FROM books WHERE subject = "history";`

In [1]:
import sqlite3

Connect to the database we want to interact with:

In [2]:
con = sqlite3.connect("sample.db")
cur = con.cursor()

In [3]:
for row in cur.execute("SELECT * FROM books LIMIT 5"):
    print(row)
print(type(row))

('Kaltenburg: Roman', 'Beyer, Marcel', '3', 'fiction')
('The Calamity Form', 'Nersessian, Anahid', '1', 'literature')
('Postwar: a history of Europe since 1945', 'Judt, Tony', '1', 'history')
('In the beginning was the sea', 'González, Tomás', '1', 'fiction')
('Printing technology, letters & Samuel Johnson', 'Kernan, Alvin B', '1', '')
<class 'tuple'>

In [4]:
for row in cur.execute("SELECT title, author FROM books WHERE language = 5"):
    print(row)

('El obsceno pájaro de la noche', 'Donoso, José')
('Textos cautivos: ensayos y reseñas en El Hogar', 'Borges, Jorge Luis')
('El invierno en Lisboa', 'Muñoz Molina, Antonio')
('El señor presidente', 'Asturias, Miguel Angel')
('Obras completas de Alejo Carpentier. Vol 2.E El reino de este mundo ; Los pasos perdidos', 'Carpentier, Alejo')
('La aventura comunista de Jorge Semprún: exilio, clandestinidad y ruptura', 'Nieto, Felipe')
('La España vacía: viaje por un país que nunca fue', 'Molino, Sergio del')
('Papeles falsos', 'Luiselli, Valeria')
('Selected poetry of Francisco de Quevedo: a bilingual edition', 'Quevedo, Francisco de')
('El país bajo mi piel: memorias de amor y guerra', 'Belli, Gioconda')
('Muerte subita', 'Enrigue, Alvaro')
('La desesperanza', 'Donoso, José')
('Veinte años y un dia', 'Semprún, Jorge')
('Los girasoles ciegos', 'Méndez Borra, Alberto')
('Historia mínima de la lengua española', 'Lara, Luis Fernando')
('La invenciòn de Morel', 'Bioy Casares, Adolfo')
('No voy a pedirle a nadie que me crea', 'Villalobos, Juan Pablo')
('Paradiso', 'Lezama Lima, José')
('The complete poetry: a bilingual edition', 'Vallejo, César')
('La muerte de Artemio Cruz', 'Fuentes, Carlos')
('Anatomía de un instante', 'Cercas, Javier')
('El viento que arrasa', 'Almada, Selva')
('2666', 'Bolaño, Robert')
('Dublinesca', 'Vila-Matas, Enrique')
('Versiones de Teresa', 'Barba, Andrés')
('Six masters of the Spanish sonnet', 'Barnstone, Willis, ed.')

In [5]:
for row in cur.execute("SELECT title, author FROM books WHERE language = 5"):
    print(row[0])

El obsceno pájaro de la noche
Textos cautivos: ensayos y reseñas en El Hogar
El invierno en Lisboa
El señor presidente
Obras completas de Alejo Carpentier. Vol 2.E El reino de este mundo ; Los pasos perdidos
La aventura comunista de Jorge Semprún: exilio, clandestinidad y ruptura
La España vacía: viaje por un país que nunca fue
Papeles falsos
Selected poetry of Francisco de Quevedo: a bilingual edition
El país bajo mi piel: memorias de amor y guerra
Muerte subita
La desesperanza
Veinte años y un dia
Los girasoles ciegos
Historia mínima de la lengua española
La invenciòn de Morel
No voy a pedirle a nadie que me crea
Paradiso
The complete poetry: a bilingual edition
La muerte de Artemio Cruz
Anatomía de un instante
El viento que arrasa
2666
Dublinesca
Versiones de Teresa
Six masters of the Spanish sonnet

In [6]:
html = """<html><h2>Some books in Spanish in the database</h2>"""

In [7]:
for row in cur.execute("SELECT title, author FROM books WHERE language = 5 ORDER BY author"):
    print(f"<li><i>{row[0]}</i> by {row[1]}</li>")
    html += f"<li><i>{row[0]}</i> by {row[1]}</li>"

<li><i>El viento que arrasa</i> by Almada, Selva</li>
<li><i>El señor presidente</i> by Asturias, Miguel Angel</li>
<li><i>Versiones de Teresa</i> by Barba, Andrés</li>
<li><i>Six masters of the Spanish sonnet</i> by Barnstone, Willis, ed.</li>
<li><i>El país bajo mi piel: memorias de amor y guerra</i> by Belli, Gioconda</li>
<li><i>La invenciòn de Morel</i> by Bioy Casares, Adolfo</li>
<li><i>2666</i> by Bolaño, Robert</li>
<li><i>Textos cautivos: ensayos y reseñas en El Hogar</i> by Borges, Jorge Luis</li>
<li><i>Obras completas de Alejo Carpentier. Vol 2.E El reino de este mundo ; Los pasos perdidos</i> by Carpentier, Alejo</li>
<li><i>Anatomía de un instante</i> by Cercas, Javier</li>
<li><i>El obsceno pájaro de la noche</i> by Donoso, José</li>
<li><i>La desesperanza</i> by Donoso, José</li>
<li><i>Muerte subita</i> by Enrigue, Alvaro</li>
<li><i>La muerte de Artemio Cruz</i> by Fuentes, Carlos</li>
<li><i>Historia mínima de la lengua española</i> by Lara, Luis Fernando</li>
<li><i>Paradiso</i> by Lezama Lima, José</li>
<li><i>Papeles falsos</i> by Luiselli, Valeria</li>
<li><i>La España vacía: viaje por un país que nunca fue</i> by Molino, Sergio del</li>
<li><i>El invierno en Lisboa</i> by Muñoz Molina, Antonio</li>
<li><i>Los girasoles ciegos</i> by Méndez Borra, Alberto</li>
<li><i>La aventura comunista de Jorge Semprún: exilio, clandestinidad y ruptura</i> by Nieto, Felipe</li>
<li><i>Selected poetry of Francisco de Quevedo: a bilingual edition</i> by Quevedo, Francisco de</li>
<li><i>Veinte años y un dia</i> by Semprún, Jorge</li>
<li><i>The complete poetry: a bilingual edition</i> by Vallejo, César</li>
<li><i>Dublinesca</i> by Vila-Matas, Enrique</li>
<li><i>No voy a pedirle a nadie que me crea</i> by Villalobos, Juan Pablo</li>

In [8]:
f = open('spanish-books.html', 'w')
f.write(html)
f.close()

#### Joins

Our database is very simple and doesn't really need any joins, but databases can get a lot more complicated. You *join* tables by picking columns you want from two (or more) tables and specifying what you will join on.

There are several types of join, depending on what you want to do when there is no match in one table or another. But mostly you'll use the common SQL `JOIN` command, which joins only when there is a match in all the tables.

Note that you have to specify the table if there are column names which are the same, so it's good practice always to do that:

```
SELECT books.title, books.author, language.name
FROM books
JOIN language
ON books.language = language.id
WHERE langauge.name = "Spanish";
```

In [13]:
for row in cur.execute("SELECT books.title, books.author, language.name \
                       FROM books \
                       JOIN language ON books.language = language.id \
                       WHERE language.name = 'French'"):
    print(f"{row[2]}: {row[0]} by {row[1]}")

French: Au bon beurre, ou, Dix ans de la vie d'un crémier by Dutourd, Jean
French: Du Hérisson by Chevillard, Eric
French: Folie et déraison: histoire de la folie a l'âge classique by Foucault, Michel
French: L'apparition du livre by Febvre, Lucien and Martin, Henri-Jean
French: L'art français de la guerre: roman by Jenni, Alexis
French: L'ogre: roman by Chessex, Jacques
French: La bataille: roman by Rambaud, Patrick
French: La fortune des Rougon by Zola, Émile
French: La main de l'auteur et l'esprit de l'imprimeur: XVIe-XVIIIe siècle by Chartier, Roger
French: La nuit sacrée: roman by Ben Jelloun, Tahar
French: La vieille fille: le cabinet des antiques by Balzac, Honoré de
French: Le Béharistan by Jāmī, Nūr ad-Dīn 'Abd ar-Rahmān
French: Le chasseur Zéro: roman by Roze, Pascale
French: Le grand incendie de Londres: récit, avec incises et bifurcations, 1985-1987 by Roubaud, Jacques
French: Le modèle italien by Braudel, Fernand
French: Le rivage des Syrtes by Gracq, Julien
French: Les Filles du Calvaire: roman by Combescot, Pierre
French: Les horreurs de l'amour by Dutourd, Jean
French: Les mandarins: roman by Beauvoir, Simone de
French: Les marins perdus by Izzo, Jean-Claude
French: Les paysans by Balzac, Honoré de
French: Morales du grand siècle by Bénichou, Paul
French: Nicolas de Staël by Nicolas de Staël
French: Tous ceux qui tombent. Visages du massacre de la Saint-Barthélémy by Foa, Jérémie
French: Trois femmes puissantes: roman by NDiaye, Marie
French: Un aller simple: roman by Cauwelaert, Didier van
French: Un captif amoureux by Genet, Jean
French: Un roi sans divertissement by Giono, Jean
French: Vaste est la prison: roman by Djebar, Assia
French: Violence, civilité, révolution by Balibar, Etienne
French: Vivre et penser comme des porcs: de l'incitation à l'envie et à l'ennui dans les démocraties-marchés by Châtelet, Gilles.
French: Voyage au bout de la nuit by Céline, Louis-Ferdinand

#### Group work

You can do any of these in either the SQLite interface or in Python in this notebook, or both!

- select everything from the language table
- print just the ID number of German in the language table
- print the first 100 authors from the author table
- print the books and authors in the science category, ordered alphabetically by author
- print out the authors from the books table whose family name begins with C
- print out the authors from the books table whose given name begins with M but ordered by family name
- print out the title and author of all the books either in German, Spanish or French
- print out the title of all the books that contain the words *technology*, *science* or *digital*

Just in Python

- Create an HTML page called "Non-English Books" and populate it with a list of all the books in the books table which aren't in English, ordered by the family name of the author.